{% extends "_layout.html" %}
{% block head_add %}
{% endblock %}
{% block content %}
<table class="table" >
    <tr>
        <td> 총 게시물수: {{ totalCnt }}</td>
        <td>
        <a href="/logout"><button class="btn btn-default btn-primary">Logout</button></a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <tr>
        <th width=50><p align=center>번호</p>
        </th>
        <th width=100><p align=center>이름</p>
        </th>
        <th width=320><p align=center>제목</p>
        </th>
        <th width=100><p align=center>조회수</p>
        </th>
    </tr>
	 {% if boardList %}
        <ul>
            {% for boardRow in boardList %}     
            <tr>
            <th width=50><p align=center>{{ boardRow.id }}</p></th>
            <td width=100><p align=center>{{ boardRow.user_id }}</p></td>                
            <td width=320><a href="/view_page?view_id={{ boardRow.id }}"
               <p align=center>{{ boardRow.board_title }}</p>
            </td>                      
            <td width=100><p align=center>{{ boardRow.count }}</p></td>
            </tr>       
            {% endfor %}
        </ul>
    {% else %}
        <p>No Data.</p>
    {% endif %}

</table>
 <a href="/write"><button class="btn btn-default btn-primary">글쓰기</button></a>
{% endblock %}
