{% comment %}
totalCnt: <strong>{{ totalCnt }}</strong> boardList: <strong>{{ boardList}}</strong>
{% endcomment %}
<table cellspacing=1 width=700 border=0>
    <tr>
        <td>총 게시물수: {{ totalCnt }}</td>
        </td>
    </tr>
</table>

<table cellspacing=1 width=700 border=1>
    <tr>
        <td width=50><p align=center>번호</p>
        </td>
        <td width=100><p align=center>이름</p>
        </td>
        <td width=320><p align=center>제목</p>
        </td>
        <td width=100><p align=center>조회수</p>
        </td>
    </tr>
	 {% if boardList %}
        <ul>
            {% for boardRow in boardList %}     
            <tr>
            <td width=50><p align=center>{{ boardRow.id }}</p></td>
            <td width=100><p align=center>{{ boardRow.user_id }}</p></td>                
            <td width=320><a href="/view_page?view_id={{ boardRow.id }}"
               <p align=center>{{ boardRow.board_title }}</p>
            </td>                      
            <td width=100><p align=center>{{ boardRow.count }}</p></td>
            </tr>       
            {% endfor %}
        </ul>
    {% else %}
        <p>No Data.</p>
    {% endif %}

</table>

<table width=700>
    <tr>
        <td><input type=button value="글쓰기"  OnClick="window.location='/write'">    </td>
    </tr>
</table>
