<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
  <script language="javascript">
    // 자바 스크립트 시작
    function writeCheck() {
        var form = document.writeform;
        if (!form.user_id.value) {
            alert("ID를 입력하세요");
            form.user_id.focus();
            return;
        }
        if (!form.user_pw.value) {
            alert("Password를 입력하세요");
            form.user_pw.focus();
            return;
        }        
                
        form.submit();    
    }
</script>
  <title>login</title>
 </head>
 <body>
  <form name=writeform method=post action="/login">
   ID : <input type="text" name="user_id" id="user_id"><br><br>
   Pw : <input type="password" name="user_pw" id="user_pw"><br><br>
   <input type=button value="Login" OnClick="javascript:writeCheck();">
   {% csrf_token %}
  </form>
  <br>
  <button onClick="window.location='/regist'">sign in</button>
 </body>
</html>
