{% extends "_layout.html" %}
{% load staticfiles %}
{% block head_add %}
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <img src="{% static "img/ci.png" %}">
    <br><br>
    <form class="form-signin"method=post action="/login" id='loginform' onsubmit='return loginsubmit()'>
        <input type="text" class="form-control" name="user_id" placeholder="User Id" autofocus>
            <br>
        <input type="password" class="form-control" placeholder="Password" name="user_pw">
            <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        {% csrf_token %}
    </form>
    <br>
    <a href="/regist"><button class="btn btn-lg btn-primary btn-block">Sign up</button></a>
</div>
{% endblock %}
