{% extends "_layout.html" %}
{% load staticfiles %}
{% block head_add %}
{% endblock %}
{% block content %}
<br>
<img src="{% static "img/ci.png" %}">
    <br><br>
<table class="table">
<form id='registform' method=post action="/regist_user" onsubmit='return registsubmit()'>
<tr><td><b>ID</b></td><td><input type="text" name=user_id size=50  maxlength=20></td></tr>
<tr><td><b>Nickname</b></td><td><input type="text" name=user_name size=50  maxlength=20></td></tr>
<tr><td><b>PW</b></td><td><input type="password" name=user_pw size=50  maxlength=20></td></tr>
<tr><td><b>PW Confirm</b></td><td><input type="password" name=pw_confirm size=50  maxlength=20></td></tr>
</table>
{% csrf_token %}
<button class="btn btn-default btn-primary" type="submit">Sign up</button>
</form>
<br>
<br>
<a href='/login_page'><button class="btn btn-default btn-primary">back</button></a>
{% endblock %}
