{% extends "_layout.html" %}
{% block head_add %}
{% endblock %}
{% block content %}
<table class='table'>
<form id='writeform' method=post action="/writeBoard" onsubmit='return writesubmit()'>

<tr><td><b>제목</b></td><td><input type=text name=board_title size=50  maxlength=20></td></tr>
<tr><td><b>내용</b></td><td><textarea name=board_content cols=50 rows=10></textarea></td></tr>

</table>
{% csrf_token %}
<button class="btn btn-default btn-primary" type="submit">Write</button>
</form>
{% endblock %}
